<!DOCTYPE html>
<html>

<head>
        <link rel="stylesheet" href="/css/styles.css"> 


</head>

<body>
        {{>header}}
        
        
        <p>page title: {{pageTitle}}</p>
        <p>email: {{email}}</p>   
        


        {{>footer}}
</body>



</html>